@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* overflow: hidden; */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* ============GENERAL STYLES=============== */


h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.1rem;
}

 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg: #040F16;
  --color-bg-variant: #2A4747;
  --color-primary: #3BA99C;
  --color-primary-variant: #1A535C;
  --color-white: #D8DCFF;
  --color-light: #88D18A;
  
  --transition: all 400ms ease;
  /* --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #040F16;
  font-family: Inter,'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */




/* .text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
} */

/* .btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
} */
/* 
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);

  padding: 0.75rem 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
} */
/* 
.btn-primary:hover {
  background-color: var(--color-bg-variant);
} */


/* =====================Mediaquery for tablates============= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}


/* =====================Mediaquery for mobile devices============= */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}